body {
    background-color: #00000B;
    color: #FFFFFF;
}

.container-body {
    padding-left: 0;
    padding-right: 0;
}


/*----------------------------------------------------------------------------  Navigation */

.logo {
    display: none;
}

.logo-mobile {
    display: block;
    height: 3rem;
    width: 6rem;
}

.logo-centering-mobile {
    margin: 0 auto;
}

.navbar {
    background-color: #00000bea;
    z-index: 99;
}

.navbar-nav a {
    color: #FFFFFF;
    font-size: 1.1rem;

    /* border-right: #FFFFFF solid 1px; */
    padding-right: 20px !important;
    padding-left: 3px !important;


}


.navbar-nav a:hover {
    color: #c91017;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    /* border-color: #fff; */
    padding: 0;

}



/*----------------------------------------------------------------------------  Home Page Social Networks */

.social-networks {
    display: none;
}

.social-networks a {
    padding-left: 2rem;
}

.social-networks i {
    padding-top: 1.3rem;
    color: #fff;

}

.social-networks i:hover {
    color: #c91017;

}

.facebook-padding-left {
    padding-left: 4px;
}

.instagram-padding-left {
    padding-left: 2px;
}



/*----------------------------------------------------------------------------  Home Page Header & Callout */

.header-image {
    height: 100vh;
    background-image: url('../assets/images/barbell.jpg');
    background-size: cover;
    background-position: bottom;
    padding-left: 0;
    padding-right: 0;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.callout {
    position: relative;
    height: 300px;
    background-color: #00000b91;
    padding: 2rem;
    border-radius: 15px;
    margin: 0 auto;
    top: 30%;
}

.callout-text {
    font-size: 1.1rem;
}

.callout-button {
    display: block;
    margin: 0 auto;
    background-color: #c91017;
    color: #fff;
    font-size: 1.1rem;
}

.callout-button:hover {
    background-color: #fff;
    color: #00000B;
}




/*---------------------------------------------------------------------------- Homepage Introduction */

.homepage-introduction {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/weights.jpg');
    /* background overlay code was used from stack overflow
    https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */

    /* background-image: url('../assets/images/weights.jpg'); */
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 5px;
}



/*---------------------------------------------------------------------------- Homepage Services */

.services-box {
    height: 20rem;
    width: 22rem;
    background-color: #fff;
    margin: 15px 20px;
    color: #00000B;
    padding: 0;
    border-radius: 5px;
    border: solid #fff 1px;

}

.services-img {
    width: 100%;
    border-radius: 5px;
}

.services-content {
    margin: 5rem 0;
}

/*---------------------------------------------------------------------------- Homepage Facilities */



.fas {
    font-size: 2rem;
}

.facilities-box {
    padding: 2rem;
}



/*---------------------------------------------------------------------------- Homepage Testimonials */


.circle-img {
    background: url("/assets/images/personal-trainer.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-container {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
    background-color: #00000B;
}

.testimonials-box {
    border: 2px solid white;
    height: 400px;
    width: 300px;
    margin: 3rem 2rem;
}

.testimonials {
    margin: 2rem 0;
}

.testimonials-heading {
    margin-bottom: 3.5rem;
}












/*-------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------- Media Queries */

@media (min-width: 576px) {

    /* Header section */

    .social-networks {
        display: inline-block;
        position: relative;
        top: 40%;
        font-size: 1.2rem;
    }

    .callout {
        position: absolute;
        width: 350px;
        float: right;
        right: 8%;
        background-color: #00000b91;
        padding: 2rem;
        border-radius: 15px;
    }

    /* Facilities Section */

    .facilities {
        margin: 2rem 5rem;
    }


}




@media (min-width: 768px) {}






@media (min-width: 992px) {

    /* Logo */
    .logo {
        display: inline-block;
        position: relative;
        left: -5rem;
        height: 3rem;
        width: 6rem;

    }

    .logo-mobile {
        display: none;
    }


    .navbar {
        background-color: transparent;
    }

    /* Facilities Section */

    .facilities {
        margin: 4rem 15rem;
    }


}




@media (min-width: 1200px) {

    /* Services Homepage */
    .services-box-one {
        position: relative;
        top: 3rem;
    }

    .services-box-two {}

    .services-box-three {
        position: relative;
        top: 3rem;
    }

    /* Facilities Section */
    .facilities {
        margin: 4rem 25rem;
    }

}