body {
    background-color: #5d5d6a;
    color: #FFFFFF;
}

.container-body {
    padding-left: 0;
    padding-right: 0;
}


/*----------------------------------------------------------------------------  Navigation */

.logo {
    display: none;
}

.logo-mobile {
    display: block;
    height: 3rem;
    width: 6rem;
}

.logo-centering-mobile {
    margin: 0 auto;
}

.navbar {
    background-color: #00000bea;
    z-index: 99;
}

.navbar-nav a {
    color: #FFFFFF;
    font-size: 1.1rem;
    padding-right: 20px !important;
    padding-left: 3px !important;


}


.navbar-nav a:hover {
    color: #c91017;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    padding: 0;

}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------Home Page
------------------------------------------------------------------------------------------------------------ */



/*----------------------------------------------------------------------------  Home Page Social Networks Top */


/* Top section */

.social-networks {
    display: none;
}

.social-networks a {
    padding-left: 2rem;
}

.social-networks i {
    padding-top: 1.3rem;
    color: #fff;

}

.social-networks i:hover {
    color: #c91017;

}

.facebook-padding-left {
    padding-left: 4px;
}

.instagram-padding-left {
    padding-left: 2px;
}


/*----------------------------------------------------------------------------  Home Page Header & Callout */

.header-image {
    height: 500px;
    background-image: url('../assets/images/chalk-man.jpeg');
    background-size: cover;
    background-position: top;
    padding-left: 0;
    padding-right: 0;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.callout {
    position: relative;
    height: 310px;
    background-color: #00000b91;
    padding: 2rem;
    border-radius: 5px;
    margin: 0 auto;
    top: 30%;
}

.callout-text {
    font-size: 1.1rem;
}

.callout-button {
    display: block;
    margin: 0 auto;
    background-color: #c91017;
    color: #fff;
    font-size: 1.1rem;
}

.callout-button:hover {
    background-color: #fff;
    color: #00000B;
}




/*---------------------------------------------------------------------------- Homepage Introduction */


.homepage-introduction {
    margin: 2px 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0.801)), url('../assets/images/dumbells-rack.jpeg');
    background-size: cover;
    background-position: top;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    color: #00000B;
}


/*---------------------------------------------------------------------------- Homepage Services */

.services {
    background: linear-gradient(0deg, #00000bb7, #00000ba1), url('../assets/images/group-exercise-squat.jpeg');
    /* background overlay code was used from stack overflow
    https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */

    background-size: cover;
    background-position: top;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 2px;
    min-height: 500px;
}



.circle-container-services {
    width: 12rem;
    height: 12rem;
    padding: 0.7rem;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    background-color: transparent;
}

.services-box {
    height: 300px;
    width: 300px;
    margin: 1rem 2rem;
}


.services-heading {
    margin: 1.5rem auto 1.5rem;

}

.services-body {
    position: relative;
    padding: 1rem 1rem;
    text-align: center;
}

.services-hover-effect a {
    text-decoration: none;
    color: currentColor;
}

.services-hover-effect a:hover,
.services-hover-effect a:hover .circle-container-services {
    color: #d1a022;
    border-color: #d1a022;
    /* font-weight: bold; */
    border-width: 3px;
}


/*---------------------------------------------------------------------------- Homepage Facilities */

.facilities {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../assets/images/gym-equipment.jpeg');
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 420px;
    margin-top: 2px;
    color: #00000B;
}

.fas {
    font-size: 2rem;
    color: #c91017;
}

.facilities-box {
    padding: 2rem 0;
    font-weight: bold;
}

.facilities-heading {
    margin: 1.5rem auto 1.5rem;
}


/*---------------------------------------------------------------------------- Homepage Testimonials */

.testimonials {

    background: linear-gradient(0deg, #00000ba1, #00000ba1), url('../assets/images/weights-on-floor.jpeg');
    /* background overlay code was used from stack overflow
    https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */

    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 2px;
    min-height: 500px;

}


.circle-container-testimonials {
    width: 12rem;
    height: 12rem;
    padding: 0.7rem;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
    background-color: #00000B;
}

.testimonials-box {
    border: 1px solid white;
    height: 400px;
    width: 300px;
    margin: 3rem 2rem;
    background-color: #00000b83;
}


.testimonials-heading {
    margin: 3rem auto 4rem;

}

.testimonials-body {
    position: relative;
    top: -3rem;
    padding: 0 1rem;
}

.testimonials-button {
    display: block;
    margin: 0 auto 2rem;
    background-color: #c91017;
    color: #fff;
    font-size: 1.1rem;
}

.testimonials-button:hover {
    background-color: #fff;
    color: #00000B;
}

/*---------------------------------------------------------------------------- Footer */

.footer-section {
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    background-color: #00000B;
    margin-top: 2px;
}

footer a {
    color: #FFFFFF !important;
    margin-bottom: 0.5rem;
}

footer a:hover {
    color: #c91017 !important;
}

.footer-section i {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    position: relative;
    bottom: -5px;
}

#copyright {
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------Gym Page
------------------------------------------------------------------------------------------------------------ */



/*---------------------------------------------------------------------------- Header */

.header-image-gym {
    height: 500px;
    background-image: url('../assets/images/gym-equipment.jpeg');
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative;

}


.gym-intro {
    position: relative;
    width: 450px;
    height: 310px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #00000b91;
    padding: 2rem;
    border-radius: 5px;
    top: 30%;
}


/*---------------------------------------------------------------------------- Kit Section */

.main-gym {
    background-color: #ffffff;
    color: #00000B;
}

.kit-section {
    min-height: 450px;
}

.kit-box {
    border: 1px solid #00000b0e;
    height: 150px;
    width: 250px;
    margin: 1rem auto;
    padding: 0.75rem;
}

.kit-box hr {
    width: 4rem;
    margin: 0.5rem auto;
    border: 2px solid #c91017;
    background-color: #c91017;
    opacity: 1;
}

.kit-box p {
    font-size: 1.125rem;
    ;
    margin: inherit;
}

.kit-text {
    margin-bottom: 1rem;
}

.kit-box h2 {
    margin-bottom: 0.75rem;
}

.kit-information p {
    padding: 0 1rem;
}


/*---------------------------------------------------------------------------- Gallery Section */

.gym-gallery-button {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gym-gallery-button button:hover {
    background-color: #00000B;
    color: #fff;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------Classes Page
------------------------------------------------------------------------------------------------------------ */

.header-image-classes {
    height: 500px;
    background-image: url('../assets/images/group-exercise-squat.jpeg');
    background-size: cover;
    background-position: top;
    padding-left: 0;
    padding-right: 0;
    position: relative;

}

.main-classes {
    background-color: #ffffff;
    color: #00000B;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------Media Queries*/
/*-----------------------------------------------------------------------------  */

@media (min-width: 576px) {

    /*-------------------------------------------------------------------Homepage */

    /* Header section */

    .social-networks {
        display: inline-block;
        position: relative;
        top: 40%;
        font-size: 1.2rem;
        height: 150px;
    }

    .callout {
        position: absolute;
        width: 350px;
        float: right;
        right: 8%;
        background-color: #00000b91;
        padding: 2rem;
        border-radius: 5px;
    }

    /* Facilities Section */

    .facilities-margin {
        margin: 2rem 7rem;
    }

    /* Footer section */
    .footer-section i {
        padding: 1rem 1rem;
        font-size: 1.1rem;
        position: relative;
        bottom: -20px;
    }

    /*-------------------------------------------------------------------Gym */

    .gym-intro {
        position: relative;
        width: 450px;
        height: 310px;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #00000b91;
        padding: 2rem;
        border-radius: 5px;
        top: 0;
    }


}


@media (min-width: 768px) {}

@media (min-width: 992px) {

    /*-------------------------------------------------------------------Homepage */
    /* Logo */
    .logo {
        display: inline-block;
        position: relative;
        left: -5rem;
        height: 3rem;
        width: 6rem;

    }

    .logo-mobile {
        display: none;
    }


    .navbar {
        background-color: #00000bd0;
    }

    #navbar-homepage {
        background-color: transparent;
    }

    /*-------------------------------------------------------------------Gym Page */
    .gym-intro {
        position: absolute;
        width: 450px;
        height: 310px;
        border-radius: 5px;
        float: left;
        left: 8%;
        top: 30%;
        background-color: #00000b91;
        padding: 2rem;
        border-radius: 5px;
    }


}


@media (min-width: 1200px) {}


@media (min-width: 1440px) {

    /* Facilities Section */

    .facilities-margin {
        margin: 0 28rem;
    }
}